@charset "utf-8";



#my_friends {
    margin-top: .5rem;
    border-top: 1px solid rgba(177, 195, 212, .25);
}



#my_friends .user-item-container {
    display: flex;
    flex-direction: column;
}
#my_friends .user-item {
    display: flex;
    height: 3rem;
    align-items: center;
}
#my_friends .user-item > .image > [class^="material-icons"] {
    font-size: 2.25rem;
    display: block;
    color: rgb(112, 176, 236);
    margin-left: -.125rem;
}
#my_friends .user-item > .name {
    flex: 1;
    margin-left: .5rem;
    font-size: 1rem;
}
