@charset "utf-8";



#my_groups {
    margin-top: .5rem;
    border-top: 1px solid rgba(177, 195, 212, .25);
}
.button-share_location_all {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}
.button-share_location_all [class^="material-icons"] {
    color: rgb(177, 195, 212);
    font-size: 1.5rem;
}
.button-share_location_all > p {
    color: rgb(177, 195, 212);
    margin-right: .375rem;
    font-size: .75rem;
}
.button-share_location_all.on [class^="material-icons"] {
    color: rgb(112, 176, 236);
}
.button-share_location_all.on > p {
    color: rgb(112, 176, 236);
    font-weight: bold;
}



#my_groups .group-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}
#my_groups .group-item {
    height: 10rem;
    background-color: rgb(19, 20, 21);
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, .125);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #fff;
    background-size: cover;
    background-position: center;
}
#my_groups .group-item > .name {
    padding: 1rem;
    font-size: 1.25rem;
}
#my_groups .group-item > .description {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#my_groups .group-item > .description > * {
    padding: .75rem;
    display: flex;
    align-items: center;
}
#my_groups .group-item > .description .num_of_members > [class^="material-icons"] {
    color: #fff;
    font-size: 1.125rem;
}
#my_groups .group-item > .description .num_of_members > p {
    margin-left: .25rem;
    font-size: .875rem;
}
#my_groups .group-item > .description .share_location {
    flex-direction: row-reverse;
}
#my_groups .group-item > .description .share_location > [class^="material-icons"] {
    color: #e57373;
    font-size: 1.5rem;
}
#my_groups .group-item > .description .share_location > p {
    color: #e57373;
    margin-right: .25rem;
    font-size: .875rem;
    font-weight: bold;
}
#my_groups .group-item > .description .share_location.on > [class^="material-icons"] {
    color: #81c784;
}
#my_groups .group-item > .description .share_location.on > p {
    color: #81c784;
}



/* modal */

#modal.create_group .input-group_name {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
