@charset "utf-8";



#my_groups {
    margin-top: .5rem;
    border-top: 1px solid rgba(177, 195, 212, .25);
}
.share_location_all-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
}
.share_location_all-button [class^="material-icons"] {
    color: rgb(177, 195, 212);
    font-size: 1.5rem;
}
.share_location_all-button > p {
    color: rgb(177, 195, 212);
    margin-right: .375rem;
    font-size: .875rem;
}



#my_groups .group-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1rem;
}
#my_groups .group-item {
    /*width: 10rem;*/
    height: 12rem;
    background-color: rgb(19, 20, 21);
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #fff;
    background-size: cover;
    background-position: center;
}
#my_groups .group-item > .name {
    padding: 1rem;
    font-size: 1.25rem;
}
#my_groups .group-item > .description {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#my_groups .group-item > .description > * {
    padding: .75rem;
    display: flex;
    align-items: center;
}
#my_groups .group-item > .description .num_of_members > [class^="material-icons"] {
    color: #fff;
    font-size: 1.125rem;
}
#my_groups .group-item > .description .num_of_members > p {
    margin-left: .25rem;
    font-size: .875rem;
}
#my_groups .group-item > .description .share_location-button {
    flex-direction: row-reverse;
}
#my_groups .group-item > .description .share_location-button > [class^="material-icons"] {
    color: #81c784;
    font-size: 1.5rem;
}
#my_groups .group-item > .description .share_location-button > p {
    color: #81c784;
    margin-right: .25rem;
    font-size: .875rem;
    font-weight: bold;
}
#my_groups .group-item > .description .share_location-button.disabled > [class^="material-icons"] {
    color: #e57373;
}
#my_groups .group-item > .description .share_location-button.disabled > p {
    color: #e57373;
}
