@charset "utf-8";



/* fonts */

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../resrc/font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../resrc/font/Pretendard-Black.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../resrc/font/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../resrc/font/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../resrc/font/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../resrc/font/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../resrc/font/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../resrc/font/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../resrc/font/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../resrc/font/Pretendard-Thin.woff') format('woff');
}



/* layout */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Pretendard Variable', 'Pretendard', 
        -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, 
        Helvetica Neue, Roboto, Helvetica, Noto Sans KR, Malgun Gothic, sans-serif,
        Apple Color Emoji, Segoe UI Emoji !important;
    
    background-color: rgb(24, 34, 45);
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
	color: #fff;
}

[class^="material-icons"] {
    color: #fff;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
	background: none;
	border: none;
	padding: 0;
}



/* MainView */

/* navbar */

#navbar {
    padding: 0 .25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
#navbar > .brand {
	height: 1.625rem;
	margin: 0 .75rem;
}

#navbar > ul {
    margin: 0;
    padding: .5rem 0;
    display: flex;
}
/*#navbar > ul > li:first-child {
    margin-right: auto;
}*/
#navbar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}
#navbar .icon > [class^="material-icons"] {
    font-size: 1.5rem;
	color: rgb(177, 195, 212);
}

#navbar .icon.icon-noti {
    position: relative;
}
#navbar .icon.icon-noti::after {
    content: "";
    display: block;
    width: .375rem;
    height: .375rem;
    border-radius: 100%;
    background-color: #fd3333;

    position: absolute;
    top: .75rem;
    right: .5rem;
}



/* aside */

#aside {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#aside > ul {
    margin: 0;
    padding: 0;

    display: flex;
    background-color: rgba(24, 34, 45, .375);
    border-top: 1px solid rgba(177, 195, 212, .25);

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}
#aside > ul > li {
    flex: 1;
}
#aside .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;

    color: rgb(177, 195, 212);
}
#aside .icon.active {
    color: #70b3ec;
}
#aside .icon > [class^="material-icons"] {
    font-size: 1.75rem;
}



/* main */

#main {
    margin: .5rem 1rem 0 1rem;
	padding-bottom: 4rem;
}
section > .header {
    margin: 1rem 0 .75rem 0;
	height: 3rem;
    display: flex;
    align-items: center;
}
section > .header > .count {
    font-size: 1rem;
    margin-left: .5rem;
    color: rgb(177, 195, 212);
}



/* my profile */

#my_profile > .user-item {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
}
#my_profile > .user-item > .img > [class^="material-icons"] {
    font-size: 2.5rem;
    display: block;
    color: #70b3ec;
    margin-left: -.125rem;
}
#my_profile > .user-item > .name {
    flex: 1;
    margin-left: .5rem;
    font-size: 1.125rem;
}