@charset "utf-8";



/* fonts */

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../resrc/font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../resrc/font/Pretendard-Black.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../resrc/font/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../resrc/font/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../resrc/font/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../resrc/font/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../resrc/font/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../resrc/font/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../resrc/font/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../resrc/font/Pretendard-Thin.woff') format('woff');
}



/* layout */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
    
    font-family: inherit;
    color: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Pretendard', 'Pretendard Variable', 
        -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, 
        Helvetica Neue, Roboto, Helvetica, Noto Sans KR, Malgun Gothic, sans-serif,
        Apple Color Emoji, Segoe UI Emoji !important;
    
    background-color: rgb(24, 34, 45);
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
    padding: 0;
	color: #fff;
	line-height: 140%;
}

[class^="material-icons"] {
    color: #fff;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #fff;
	background: none;
	border: none;
	padding: 0;
    font-size: 1rem;
}



/* MainView */

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}
.icon > [class^="material-icons"] {
	color: rgb(177, 195, 212);
    font-size: 1.5rem;
}

.icon.icon-badge {
    position: relative;
}
.icon.icon-badge.new::after,
#my_notices .notice-item.new .icon::after {
    content: "";
    display: block;
    width: .375rem;
    height: .375rem;
    border-radius: 100%;
    background-color: #fd3333;

    position: absolute;
    top: .75rem;
    right: .5rem;
}



/* navbar */

#navbar {
	height: 4rem;
    margin: 0 .25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#navbar > .brand {
	height: 1.625rem;
	margin: 0 .75rem;
}
#navbar > ul {
    margin: 0;
    display: flex;
}



#navbar-back {
	position: relative;
    margin: 0 .25rem;
	height: 4rem;
}
#navbar-back > * {
	display: flex;
	align-items: center;
	height: 4rem;
}
#navbar-back h3 {
	justify-content: center;
}
#navbar-back .back-button {
	position: absolute;
	left: 0;
	height: 4rem;
}




/* footer */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer > ul {
    margin: 0;
    padding: 0;

    display: flex;
    background-color: rgba(24, 34, 45, .375);
    border-top: 1px solid rgba(177, 195, 212, .25);

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}
#footer > ul > li {
    flex: 1;
}

#footer .icon {
    width: 100%;
}
#footer .icon > [class^="material-icons"] {
	font-size: 1.75rem;
}
#footer .icon.active > [class^="material-icons"] {
	color: rgb(112, 176, 236);
}



/* main */

#main {
    margin: .5rem 1rem 0 1rem;
	padding-bottom: 4rem;
}
section > .header {
    margin: 1rem 0 .75rem 0;
	height: 3rem;
    display: flex;
    align-items: center;
}
section > .header > .count {
    font-size: 1rem;
    margin-left: .5rem;
    color: rgb(177, 195, 212);
}
section > .header > .header-right {
    margin-left: auto;
    height: 100%;
}
section > .header > .header-right > * {
    height: 100%;
}



/* my profile */

#my_profile > .user-item {
    display: flex;
    height: 4rem;
    align-items: center;
}
#my_profile > .user-item > .image > [class^="material-icons"] {
    font-size: 3rem;
    display: block;
    color: rgb(112, 176, 236);
    margin-left: -.25rem;
}
#my_profile > .user-item > .text {
    flex: 1;
    margin-left: .5rem;
}
#my_profile > .user-item > .text > .name {
    font-size: 1.125rem;
    margin-bottom: .125rem;
}
#my_profile > .user-item > .text > .id {
    font-size: .75rem;
    color: rgb(177, 195, 212);
}



/* modal */

body.modal-open {
    overflow: hidden;
}
body.modal-open::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #000;
    opacity: .75;
}

#modal {
    visibility: hidden;
}
body.modal-open #modal {
    visibility: visible;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%;
    max-width: 32rem;
    border-radius: 1rem;

    background-color: rgba(24, 34, 45, .5);
    border: 1px solid rgba(177, 195, 212, .125);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    z-index: 1000;
}

.modal-header {
    padding: 1rem;
    text-align: center;
    font-size: 1.125rem;
}
.modal-body {
    padding: 0 1rem;
}
.modal-body > p {
    font-size: .875rem;
    color: rgb(177, 195, 212);
}
.modal-footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.modal-footer > li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(177, 195, 212, .125);
}
.modal-footer > li:not(:first-child) {
    border-left: 1px solid rgba(177, 195, 212, .125);
}
.modal-footer > li > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .625rem;
}
.modal-footer > li > button:active {
    color: rgb(112, 176, 236);
}



#modal .user-item {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal .user-item > .image > [class^="material-icons"] {
    font-size: 2.5rem;
    display: block;
    color: rgb(112, 176, 236);
    margin-left: -.125rem;
}
#modal .user-item > .name {
    margin-left: .5rem;
    font-size: 1.125rem;
}
#modal .user-item button {
    color: #fff;
    font-size: .8125rem;
    border-radius: 4rem;
    border: 1px solid rgba(177, 195, 212, .125);
    padding: .375rem .75rem;
}



/* input text */

input, button,
[type=button], [type=reset], [type=submit], [type=text], [type="radio"], [type="checkbox"] {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    outline: none !important;
    background: transparent;
    border: none;
    border-radius: 0;
}

input[type="text"] {
    color: #fff;
    font-size: .875rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .625rem .875rem;
    transition: all .1s;
    background-color: rgba(34, 48, 63, .75);
    border-bottom: .1875rem solid rgba(112, 176, 236, .75);
}
input[type="text"]:hover {
    background-color: rgba(34, 48, 63, .875);
    border-bottom: .1875rem solid rgba(112, 176, 236, .875);
}
input[type="text"]:focus {
    background-color: rgb(34, 48, 63);
    border-bottom: .1875rem solid rgb(112, 176, 236);
}
