@charset "utf-8";



#my_notices .notice-item-container {
    display: flex;
    flex-direction: column;
}
#my_notices .notice-item {
    display: flex;
    height: 5rem;
    align-items: center;
}
#my_notices .notice-item > .icon {
    margin-left: -.625rem;
}
#my_notices .notice-item > .text {
    flex: 1;
    margin-left: .5rem;
}
#my_notices .notice-item > .text > .message {
    font-size: 1rem;
    margin-bottom: .125rem;
}
#my_notices .notice-item > .text > .time {
    font-size: .75rem;
    color: rgb(177, 195, 212);
}
